/* global style end */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
}
img{
    max-width: 100%;
}
/* global style end */

/* ========top header start========== */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 0px 30px;
    font-size: 20px;
    color: white;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
/* ===========top header end========== */

/* ========middle header start========== */
.middle-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}
.middle-header img{
    width: 150px;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    padding: 10px;
    width: 400px;
    box-shadow: 1px 1px 1px white;
}
.search button{
    padding: 10px;
    margin-left: -30px;
    background-color: green;
    color: white;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
}


.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card ul{
    list-style-type: none;
}
.card ul li{
    display: inline-block;
}
.card ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0px 5px;
    position: relative;
}
.card ul li a span{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #3c7d17;
    color: #fff;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 14px;
    border-radius: 50px;
    text-align: center;
}
/* ==========middle header end========= */

/* =======navigation start========= */
.navigation{
    background-color: green;
    text-align: center;
    padding: 20px 0px;
}
.navigation ul{
    list-style-type: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
    color: white;
    display: inline-block;
    text-align: center;
}
/* =======navigation end========= */

/* =========banner start============= */

.banner img{
    width: 100%;
}
/* ===========banner end========= */

/* =====Top Categories section start======= */
.top-ct{
    margin: 10px 0px;
    background-color: white;
}
.top-ct h1{
    padding: 20px 15px;
}
.top-ct hr{
    opacity: 0.3;
}
.top-Categories {
    padding: 20px 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top-item{
    width: 14.18%;
    height: auto;
    margin-right: 10px;
}
.top-Categories img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid green;
}
.top-Categories p{
    font-size: 20px;
    font-weight: bold;

}
/* =====Top Categories section start======= */

/* ======all-products sectiion start======== */
.all-products{
    background-color: white;
    max-width: 100%;
    margin: 10px 0px;
}
.all-products h1{
    padding: 20px 15px;

}
.all-products hr{
    opacity: 0.3;
}

.product-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-item{
    text-align: center;
    border: 1px solid #b0a4a4;
    border-radius: 5px;
    width: 14.28%;
    margin: 10px;
   
}
.product-item img{
    width: 300px;
    margin: 10px 0px;
    transition: all 0.5s;
}
.product-item img:hover{
    transform: scale(1.1);
}
.product-prara p{
    font-size: 20px;
    padding: 10px;
}
.product-prara span{
    color: green;
}
.product-prara p:hover{
    text-decoration: underline;
}
.product-button{
    background-color: green;
    display: block;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.product-button a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
/* ======all-products section end========= */

/* footer section start */
footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0px;
    background-color: #d5ded0;
}
.footer-logo{
    text-align: center;
}
.footer-logo img{
    width: 150px;
}
.footer-logo a{
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 0px;
}
.useful-link, .link{
    
}
.useful-link ul, .link ul{
    list-style: none;
}
.useful-link ul li a, .link ul a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    padding: 5px 0px;
    display: inline-block;
}


.fooder-icon{
    display: inline-block;
    text-align: center;
}
.fooder-icon h3{
    text-align: center;
}
.fooder-icon ul{
    list-style: none;
}
.fooder-icon ul li{
    display: inline-block;
}

.fooder-icon ul li a{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.fooder-icon ul li a i{
    text-align: center;
    background-color: green;
    color: white;
    border: 1px solid gray;
    align-items: center;
    border: 1px solid gray;
    font-size: 30px;
    border-radius: 5px;
    transition: all 0.5s;
}
.fooder-icon ul li a i:hover{
    transform: scale(1.1);
}
/* footer section end */

/* whatsapp icon section start */
.whatsapp-icon a{
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 50%;

}
/* whatsapp icon section start */